# <center> RECORD LINKAGE IN PYTHON <br/><br/> CSCAR WORKSHOP <br/><br/> 12/08/2017
## <center> Marcio Mourao

# <center> Setup for Anaconda / Jupyter Notebook

<ul>
    <li>Go to the page https://marcio-mourao.github.io/</li>
    <li>Download the Python notebook under "Record Linkage" to your "username/Documents"</li><br/>
    
    <li>Click the Windows button (Bottom Left Corner)</li>
    <li>Click "All apps"</li>
    <li>Click "Anaconda3"</li>
    <li>Click "Anaconda Prompt" </li>
    <li>Enter "pip install recordlinkage"</li>
    <br/>
    
    <li>Click the Windows button (Bottom Left Corner)</li>
    <li>Click "All apps"</li>
    <li>Click "Anaconda3"</li>
    <li>Click "Jupyter Notebook" </li><br/>
    <li>Click "Workshop.ipynb" (this should open a new tab in the browser)</li>
</ul>

# <center> Introduction

<ul>
  <li>Don't forget to go to: http://cscar.research.umich.edu/ to know what we're offering!</li>
  <li>Any questions/feedback, you can send an email to <a href="mailto:mdam@umich.edu" target="_top">Marcio</a>
</ul>

# <center> References

<ul>
  <li>https://www.continuum.io/anaconda-overview</li>
  <li>http://www.numpy.org/</li>
  <li>http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html</li>
  <li>http://pandas.pydata.org/pandas-docs/stable/10min.html</li>
  <li>https://pypi.python.org/pypi/recordlinkage/</li>
</ul>

# <center>What is record linkage?

The term record linkage is used to indicate the procedure of bringing together information from two or more records that are believed to belong to the same entity. Record linkage is used to link data from multiple data sources or to find duplicates in a single data source. In computer science, record linkage is also known as data matching or deduplication (in case of search duplicate records within a single file).

# <center> Main features of the Python Record Linkage Toolkit

<ul>
    <li>Clean and standardise data with easy to use tools</li>
    <li>Make pairs of records with smart indexing methods such as blocking and sorted neighbourhood indexing</li>
    <li>Compare records with a large number of comparison and similarity measures for different types of variables such as strings, numbers and dates</li>
    <li>Several classifications algorithms, both supervised and unsupervised algorithms</li>
    <li>Common record linkage evaluation tools</li>
    <li>Several built-in datasets</li>
</ul>

# <center> Advantages and Disadvantages

### Advantages
<ul>
    <li>Understandability </li>
    <li>Usability </li>
    <li>Extensibility </li>
</ul>

### Disadvantages
<ul>
    <li>The Python Record Linkage Toolkit is NOT developed with speed in mind</li>
    <li>The toolkit is useful for linking small or medium sized files</li>
</ul>

# <center> Summary of this workshop

<ul>
  <li>Summary of Python Data Types</li>
  <li>Load and describe the datasets</li>
  <li>Make Record Pairs or Indexing</li>
  <li>Compare record pairs</li>
  <li>Classify Record Pairs</li>
</ul>

## Import relevant general modules

In [2]:
import numpy as np
import pandas as pd
import recordlinkage

In [3]:
import sys
print(sys.version)

print(np.__version__)
print(pd.__version__)
print(recordlinkage.__version__)

3.5.4 |Anaconda custom (x86_64)| (default, Nov  8 2017, 18:11:28)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
1.13.3
0.22.0
0.10.1

## Summary of Python Data Types

### Python Simple Data Types
##### Integers
##### Floats
##### Strings
##### Booleans

### Relevant Python Data Structures

### Lists

In [ ]:
#Defines one small list and common operations on it
example_list = [2,4,'fg',8,3]

print(example_list[0])
print(example_list[2:4])

example_list[2]=20 # modifying element of the list
print(example_list)

### Numpy arrays

In [ ]:
#Defines one small numpy array and common operations on it
example_array = np.array([2,4,'4',8,10])

print(example_array[0])
print(example_array[2:4])

example_array[2]='20' # modifying element of the list
print(example_array)

### Pandas Series
#### A one dimensional labeled array

In [ ]:
#Defines one small pandas series and common operations on it
example_dictionary = {'A':20,'B':40,'C':60,'D':55}
example_series = pd.Series(example_dictionary)

print(example_series)
print(example_series[0])
print(example_series['B':])

### Pandas Dataframes
#### A two-dimensional labeled data structure with columns of potentially different types

In [ ]:
#Creation of a dataframe with a list
aux=[['ds',1.0],
     ['as',3],
     ['bq',5]]

example_DF = pd.DataFrame(aux,index=['Row1','Row2','Row3'],columns=['Col1','Col2'])
example_DF

In [ ]:
#Check types
print(type(example_DF))
example_DF.dtypes

## Load and describe the datasets

In [4]:
#Import function to use in order to load example datasets
from recordlinkage.datasets import load_febrl4

In [5]:
#Obtain the two dataframes
dfA, dfB = load_febrl4()

In [6]:
#Obtains the number of lines and columns of the first dataframe
dfA.shape

(5000, 10)

In [7]:
#Obtains the number of lines and columns of the second dataframe
dfB.shape

(5000, 10)

In [10]:
dfA.head()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-1070-org,michaela,neumann,8,stanley street,miami,winston hills,4223,nsw,19151111,5304218
rec-1016-org,courtney,painter,12,pinkerton circuit,bega flats,richlands,4560,vic,19161214,4066625
rec-4405-org,charles,green,38,salkauskas crescent,kela,dapto,4566,nsw,19480930,4365168
rec-1288-org,vanessa,parr,905,macquoid place,broadbridge manor,south grafton,2135,sa,19951119,9239102
rec-3585-org,mikayla,malloney,37,randwick road,avalind,hoppers crossing,4552,vic,19860208,7207688

In [11]:
dfB.head()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-561-dup-0,elton,NaN,3,light setreet,pinehill,windermere,3212,vic,19651013,1551941
rec-2642-dup-0,mitchell,maxon,47,edkins street,lochaoair,north ryde,3355,nsw,19390212,8859999
rec-608-dup-0,NaN,white,72,lambrigg street,kelgoola,broadbeach waters,3159,vic,19620216,9731855
rec-3239-dup-0,elk i,menzies,1,lyster place,NaN,northwood,2585,vic,19980624,4970481
rec-2886-dup-0,NaN,garanggar,NaN,may maxwell crescent,springettst arcade,forest hill,2342,vic,19921016,1366884

In [8]:
#Obtains the dataframe main types
dfA.dtypes

given_name       object
surname          object
street_number    object
address_1        object
address_2        object
suburb           object
postcode         object
state            object
date_of_birth    object
soc_sec_id       object
dtype: object

In [12]:
#Provides a statistical summary of the dataframe
dfA.describe()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
count,4888,4952,4842,4902,4580,4945,5000,4950,4906,5000
unique,770,1827,450,2399,2575,1634,1419,8,4588,5000
top,emiily,white,1,forbes street,rowethorpe,toowoomba,4740,nsw,19250202,4754283
freq,85,151,161,18,52,40,30,1686,3,1

In [13]:
#Summarizes just the column 'surname
dfA['surname'].describe()

count      4952
unique     1827
top       white
freq        151
Name: surname, dtype: object

In [14]:
#Exemplify use of clean and phonetic methods
from recordlinkage.standardise import clean, phonetic

dfA_aux = pd.DataFrame()
dfA_aux['given_name'] = clean(dfA['given_name'])
dfA_aux['given_name'] = phonetic(dfA['given_name'], method = 'soundex')
dfA_aux.head(10)

             given_name
rec_id
rec-1070-org       M240
rec-1016-org       C635
rec-4405-org       C642
rec-1288-org       V520
rec-3585-org       M240
rec-298-org        B420
rec-1985-org        NaN
rec-2404-org       B422
rec-1473-org        NaN
rec-453-org        E363

## Make Record Pairs or Indexing

In [ ]:
?recordlinkage.FullIndex

In [ ]:
?indexer.index

In [15]:
#Full index method
indexer = recordlinkage.FullIndex() # first load the FullIndex class
pairs = indexer.index(dfA, dfB) # then create all possible and unique record pairs

WARNING:recordlinkage:The number of record pairs is large. Consider a different indexation algorithm for better performance.

In [16]:
#Summarize pairs
print(type(pairs))
print(pairs[0],pairs[1])
print(len(pairs))
print(dfA.shape[0]*dfB.shape[0])

<class 'pandas.core.indexes.multi.MultiIndex'>
('rec-1070-org', 'rec-561-dup-0') ('rec-1070-org', 'rec-2642-dup-0')
25000000
25000000

In [ ]:
?recordlinkage.SortedNeighbourhoodIndex

In [23]:
#Neighbourhood method
indexer = recordlinkage.SortedNeighbourhoodIndex(on='given_name', window=1)
pairs = indexer.index(dfA, dfB)

print(pairs[0],pairs[1])
print(len(pairs))

('rec-1070-org', 'rec-3024-dup-0') ('rec-1070-org', 'rec-2371-dup-0')
77249

In [ ]:
?recordlinkage.BlockIndex

In [25]:
#Blocking method
indexer = recordlinkage.BlockIndex(on='given_name')
pairs = indexer.index(dfA, dfB)

print(pairs[0],pairs[1])
print(len(pairs)) # Notice the reduction on the number of pairs in relation to using the NeighbourhoodIndex class

('rec-1070-org', 'rec-3024-dup-0') ('rec-1070-org', 'rec-2371-dup-0')
77249

In [26]:
#Just a test to compare the names
print(dfA.loc['rec-1070-org','given_name'])
print(dfB.loc['rec-3024-dup-0','given_name'])
print(sum(dfA['given_name']=='michaela'))
print(sum(dfB['given_name']=='michaela'))

michaela
michaela
6
5

## Compare record pairs

In [27]:
#Create class compare
compare_cl = recordlinkage.Compare()

In [ ]:
#Check exact and string methods for comparison of record attributes
?compare_cl.string

In [28]:
compare_cl.exact('given_name', 'given_name', label='given_name')
compare_cl.string('surname', 'surname', method='jarowinkler', threshold=0.85, label='surname')
compare_cl.exact('date_of_birth', 'date_of_birth', label='date_of_birth')
compare_cl.exact('suburb', 'suburb', label='suburb')
compare_cl.exact('state', 'state', label='state')
compare_cl.string('address_1', 'address_1', threshold=0.85, label='address_1')

features = compare_cl.compute(pairs, dfA, dfB)

In [29]:
#Check pairs at the top
features.head(50)

                             given_name  surname  date_of_birth  suburb  \
rec_id       rec_id
rec-1070-org rec-3024-dup-0           1      0.0              0       0
             rec-2371-dup-0           1      0.0              0       0
             rec-4652-dup-0           1      0.0              0       0
             rec-4795-dup-0           1      0.0              0       0
             rec-1314-dup-0           1      0.0              0       0
rec-2371-org rec-3024-dup-0           1      0.0              0       0
             rec-2371-dup-0           1      1.0              1       1
             rec-4652-dup-0           1      0.0              0       0
             rec-4795-dup-0           1      0.0              0       0
             rec-1314-dup-0           1      0.0              0       0
rec-3582-org rec-3024-dup-0           1      0.0              0       0
             rec-2371-dup-0           1      0.0              0       0
             rec-4652-dup-0           1      0.0              0       0
             rec-4795-dup-0           1      0.0              0       0
             rec-1314-dup-0           1      0.0              0       0
rec-3024-org rec-3024-dup-0           1      1.0              1       0
             rec-2371-dup-0           1      0.0              0       0
             rec-4652-dup-0           1      0.0              0       0
             rec-4795-dup-0           1      0.0              0       0
             rec-1314-dup-0           1      0.0              0       0
rec-4652-org rec-3024-dup-0           1      0.0              0       0
             rec-2371-dup-0           1      0.0              0       0
             rec-4652-dup-0           1      1.0              1       0
             rec-4795-dup-0           1      0.0              0       0
             rec-1314-dup-0           1      0.0              0       0
rec-4795-org rec-3024-dup-0           1      0.0              0       0
             rec-2371-dup-0           1      0.0              0       0
             rec-4652-dup-0           1      0.0              0       0
             rec-4795-dup-0           1      1.0              1       1
             rec-1314-dup-0           1      0.0              0       0
rec-1016-org rec-1209-dup-0           1      0.0              0       0
             rec-1151-dup-0           1      0.0              0       0
             rec-4141-dup-0           1      0.0              0       0
             rec-4215-dup-0           1      0.0              0       0
             rec-2463-dup-0           1      0.0              0       0
             rec-786-dup-0            1      0.0              0       0
             rec-1016-dup-0           1      1.0              1       1
             rec-2389-dup-0           1      0.0              0       0
             rec-521-dup-0            1      0.0              0       0
             rec-572-dup-0            1      0.0              0       0
rec-857-org  rec-1209-dup-0           1      0.0              0       0
             rec-1151-dup-0           1      0.0              0       0
             rec-4141-dup-0           1      0.0              0       0
             rec-4215-dup-0           1      0.0              0       0
             rec-2463-dup-0           1      0.0              0       0
             rec-786-dup-0            1      0.0              0       0
             rec-1016-dup-0           1      0.0              0       0
             rec-2389-dup-0           1      0.0              0       0
             rec-521-dup-0            1      0.0              0       0
             rec-572-dup-0            1      0.0              0       0

                             state  address_1
rec_id       rec_id
rec-1070-org rec-3024-dup-0      1        0.0
             rec-2371-dup-0      0        0.0
             rec-4652-dup-0      0        0.0
             rec-4795-dup-0      1        0.0
             rec-1314-dup-0      1        0.0
rec-2371-org rec-3024-dup-0      0        0.0
             rec-2371-dup-0      1        1.0
             rec-4652-dup-0      1        0.0
             rec-4795-dup-0      0        0.0
             rec-1314-dup-0      0        0.0
rec-3582-org rec-3024-dup-0      1        0.0
             rec-2371-dup-0      0        0.0
             rec-4652-dup-0      0        0.0
             rec-4795-dup-0      1        0.0
             rec-1314-dup-0      1        0.0
rec-3024-org rec-3024-dup-0      1        0.0
             rec-2371-dup-0      0        0.0
             rec-4652-dup-0      0        0.0
             rec-4795-dup-0      1        0.0
             rec-1314-dup-0      1        0.0
rec-4652-org rec-3024-dup-0      0        0.0
             rec-2371-dup-0      1        0.0
             rec-4652-dup-0      1        1.0
             rec-4795-dup-0      0        0.0
             rec-1314-dup-0      0        0.0
rec-4795-org rec-3024-dup-0      1        0.0
             rec-2371-dup-0      0        0.0
             rec-4652-dup-0      0        0.0
             rec-4795-dup-0      1        1.0
             rec-1314-dup-0      1        0.0
rec-1016-org rec-1209-dup-0      1        0.0
             rec-1151-dup-0      0        0.0
             rec-4141-dup-0      0        0.0
             rec-4215-dup-0      0        0.0
             rec-2463-dup-0      0        0.0
             rec-786-dup-0       0        0.0
             rec-1016-dup-0      0        1.0
             rec-2389-dup-0      1        0.0
             rec-521-dup-0       0        0.0
             rec-572-dup-0       0        0.0
rec-857-org  rec-1209-dup-0      0        0.0
             rec-1151-dup-0      1        0.0
             rec-4141-dup-0      0        0.0
             rec-4215-dup-0      0        0.0
             rec-2463-dup-0      0        0.0
             rec-786-dup-0       0        0.0
             rec-1016-dup-0      0        0.0
             rec-2389-dup-0      0        0.0
             rec-521-dup-0       0        0.0
             rec-572-dup-0       0        0.0

In [30]:
#Summarize results from comparing records
features.describe()

,given_name,surname,date_of_birth,suburb,state,address_1
count,77249.0,77249.000000,77249.000000,77249.000000,77249.000000,77249.000000
mean,1.0,0.044415,0.037929,0.032259,0.248767,0.036700
std,0.0,0.206016,0.191027,0.176689,0.432301,0.188024
min,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.0,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.0,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
#Sum the comparison results
features.sum(axis=1).value_counts().sort_index(ascending=False)

6.0     1566
5.0     1332
4.0      343
3.0      146
2.0    16426
1.0    57436
dtype: int64

In [ ]:
#Obtain a subselection of the features dataframe with large scores
features[features.sum(axis=1)>5].head()

## Classify Record Pairs

In [32]:
#Import another dataset
from recordlinkage.datasets import load_krebsregister

In [33]:
?load_krebsregister

In [34]:
krebs_data, krebs_match = load_krebsregister(missing_values = 0)
krebs_data.head()

,,cmp_firstname1,cmp_firstname2,cmp_lastname1,cmp_lastname2,cmp_sex,cmp_birthday,cmp_birthmonth,cmp_birthyear,cmp_zipcode
id1,id2,,,,,,,,,
22161,38467,1.000000,0.0,0.142857,0.0,1,0.0,1.0,0.0,0.0
38713,75352,0.000000,0.0,0.571429,0.0,1,0.0,0.0,0.0,0.0
13699,32825,0.166667,0.0,0.000000,0.0,0,1.0,1.0,1.0,0.0
22709,37682,0.285714,0.0,1.000000,0.0,1,0.0,0.0,0.0,0.0
2342,69060,0.250000,0.0,0.125000,0.0,1,1.0,1.0,1.0,0.0

In [35]:
krebs_data.shape

(5749132, 9)

In [36]:
krebs_data.describe()

,cmp_firstname1,cmp_firstname2,cmp_lastname1,cmp_lastname2,cmp_sex,cmp_birthday,cmp_birthmonth,cmp_birthyear,cmp_zipcode
count,5.749132e+06,5.749132e+06,5.749132e+06,5.749132e+06,5.749132e+06,5.749132e+06,5.749132e+06,5.749132e+06,5.749132e+06
mean,7.127776e-01,1.623376e-02,3.156278e-01,1.364674e-04,9.550014e-01,2.244342e-01,4.887877e-01,2.227178e-01,5.516311e-03
std,3.888388e-01,1.251994e-01,3.342336e-01,1.008120e-02,2.073011e-01,4.172092e-01,4.998743e-01,4.160704e-01,7.406674e-02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.857143e-01,0.000000e+00,1.000000e-01,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,0.000000e+00,1.818182e-01,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.000000e+00,0.000000e+00,4.285714e-01,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [37]:
krebs_data.index[0:2].get_values()

array([(22161, 38467), (38713, 75352)], dtype=object)

In [38]:
len(krebs_match)

20931

In [39]:
krebs_match.get_values()

array([(89874, 89876), (79126, 84983), (40350, 83715), ..., (23925, 29112),
       (57711, 99655), (18795, 41061)], dtype=object)

#### Logistic Regression - Supervised Approach

In [40]:
#Set training data for the supervised approach
krebs_data_train = krebs_data[0:5000]
krebs_match_train = krebs_data_train.index & krebs_match

In [ ]:
?logreg.learn

In [41]:
#Initialize the classifier
logreg = recordlinkage.LogisticRegressionClassifier()

#Train the classifier
lr = logreg.learn(krebs_data_train, krebs_match_train)
print ("Intercept: ", logreg.intercept)
print ("Coefficients: ", logreg.coefficients)

Intercept:  -6.298043571006413
Coefficients:  [0.49045284297836711, 0.12164048434875779, 2.1504048510985725, -0.0028481810133886877, -1.7971246518969071, 0.96108555772629034, 0.067261044100558179, 1.0340860752879568, 4.3055611017716355]

In [ ]:
?logreg.predict

In [ ]:
#Set test data for the supervised approach
krebs_data_test = krebs_data[5000:krebs_data.shape[0]]
krebs_match_test = krebs_data_test.index & krebs_match

#Predict the match status for all record pairs
result_logreg = logreg.predict(krebs_data_test)

#Predict the probability for all record pairs
result_logreg_prob = logreg.prob(krebs_data_test)

In [ ]:
print(len(result_logreg))
print(len(result_logreg_prob))

In [ ]:
result_logreg_prob = result_logreg_prob.sort_values(ascending=False)
result_logreg_prob.head()

In [ ]:
result_logreg_prob.tail()

In [ ]:
?recordlinkage.confusion_matrix

In [ ]:
conf_logreg = recordlinkage.confusion_matrix(krebs_match_test, result_logreg, len(krebs_data_test))
conf_logreg

In [ ]:
recordlinkage.fscore(conf_logreg)

#### Expectation-Maximization algorithm - Unsupervised approach

In [ ]:
#Train the classifier
ecm = recordlinkage.ECMClassifier()
result_ecm = ecm.learn((krebs_data > 0.8).astype(int))

len(result_ecm)

In [ ]:
conf_ecm = recordlinkage.confusion_matrix(krebs_match, result_ecm, len(krebs_data))
conf_ecm

In [ ]:
# The F-score for this classification is
recordlinkage.fscore(conf_ecm)